<!doctype html>
<html>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    function newChatroomNumberRequest() {
      return fetch('http://localhost:3000/new-game').then(res => res.text())
    }
    
    function newChatRoom() {
      let newRoomNum = newChatroomNumberRequest().then(id => {
      console.log('http://localhost:3000/game/' + id + "?userId=asef&teamName=TEAM_1")
      window.location.href = 'http://localhost:3000/game/' + id + "?userId=asef&teamName=TEAM_1"
      })
    }
  </script>
  <body>

    <button onclick="newChatRoom()">New ChatRoom</button>

  </body>
</html>