<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    function newChatroomNumberRequest() {
      return fetch('http://localhost:3000/chat/new-chat').then(res => res.text())
    }
    
    function newChatRoom() {
      let newRoomNum = newChatroomNumberRequest().then(id => {
      window.location.href = 'http://localhost:3000/chat/' + id
      })
    }
  </script>
  <body>

    <button onclick="newChatRoom()">New ChatRoom</button>

  <footer>
    <% include ../partials/footer %>
  </footer>

  </body>
</html>